<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<ul class="nav navbar-nav">
			<li>
				<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
			</li>
			<li>
				<a href="/upload"><span class="glyphicon glyphicon-plus"></span> Create a bomb </a>
			</li>
			<li>
				<a href="/bombs"><span class="glyphicon glyphicon-list"></span> Read bombs </a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="navbar-right">
				<a href="https://github.com/bahi-2/ticking-time-bomb"><span class="glyphicon glyphicon-book"></span> GitHub</a>
			</li>
		</ul>
	</div>
</nav>