<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="row">
		<h3>Send your text to the future!</h3>
	</div>
    
    <div class="row">
    
    <div class="col-md-6">
		<div class="widget-area no-padding blank">
			<div class="status-upload">
				<form action="#">
					<textarea id="msg" placeholder="The text you enter here will be permanently saved and won't be readable until the time you specify." ></textarea>
					<ul>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
					</ul>
					<div class="form-group">
						Upload in:
					  <select class="form-control" id="time" style="width:11%;">
					    <option>5 seconds</option>
					    <option>5 minutes</option>
					    <option>5 hours</option>
					    <option>5 days</option>
					  </select>
					</div>
					<button class="btn btn-success green" onclick="encrypt();"><i class="fa fa-upload"></i> Upload</button>
				</form>
			</div><!-- Status Upload  -->
		</div><!-- Widget Area -->
	</div>
        Encrypted message: <p id="enc"></p>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
	$(document).ready(function(){    
    	$("[data-toggle=tooltip]").tooltip();
	});
	function encrypt() {
		var msg = document.getElementById("msg").value;
		var time = document.getElementById("time").value;
		var socket = io(); // connec to server
		socket.emit('encrypt', msg,time); // raise an event on the server
		socket.on('encrypted',function(msg){document.getElementById('enc').innerHTML=msg;}); //respond to event on server
	}
</script>
</html>